body{
background-color: rgba(70,70,70,1);
text-align: center;

}

div.content{

text-align: left;
width: 960px; 
margin-right: auto;
margin-left: auto;
background-color:white;
}


ul li{
font-family: verdana;
color: white;
 display:inline;
margin-left: 20px; 
text-decoration: none;
}

ul{
padding-top: 10px;
padding-bottom: 10px;
margin-bottom:0px;
background-color: darkred;
color:white; 
text-align:left;
}

p.submit{
text-align: center; 
}

form{
color:black;
font-family: verdana;
}

p{
color: black;
font-family: verdana; 
}

div{
	display: inline-block;
	width: 960px;
}

form p
{
  clear: left;
}


label{
 margin-left: 10px;
cursor: default; 
width: 500px; 
display: inline-block;
}

.versturen{
	margin-left: 550px;
}